/* --------------------------------------------- ESTILO --------------------------------------------- */
body{

}
a:hover{
  text-decoration: none
}
p{

}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
hr.cinza{
  border-top: 1px solid #8c8b8b;
}

/* --- header --- */
/* --- menu abrir com hover --- */
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
}
.dropdown-menu-estilo{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 7rem;
  padding: .5rem 0;
  margin: 0 0 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
/* --- rotação do ícone com hover --- */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}
/* --- FIM menu abrir com hover --- */

/* --- icones na header --- */
.topo .fa-2x{
  font-size: 20px;
  margin-right: 5px;
  color: #343a40;
}
/* --- FIM icones na header --- */

/* --- menu transparent --- */
.bg-primaria{
  background-color: #282e2e !important;
}
.cor-nav{
  background: rgba(0, 0, 0, 0.2);
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.txtbranco a{
  color: #fff!important;
}

/* --- carousel home --- */
.carousel-03 .carousel-item{
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-03 .banner-01{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/quarto-de-casal-decorado.jpg) no-repeat;
}
/*.carousel-03 .banner-02{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/quarto-de-crianca-decorado.jpg) no-repeat;
}*/
.carousel-03 .banner-03{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/quarto-infantil-decorado.jpg) no-repeat;
}
.carousel-03 .banner-04{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/quarto-reformado.jpg) no-repeat;
}
.carousel-03 .banner-05{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/sala-decorada.jpg) no-repeat;
}
.carousel-03 .banner-06{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/sala-de-estar-decorada.jpg) no-repeat;
}
.carousel-03 .banner-07{
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../imagens/slides/sala-de-estar-reformada.jpg) no-repeat;
}
.icons-circle{
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  margin: 0 5px !important;
}

/* --- conteudo home --- */
.banner-02 {
  position: relative;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imagens/projetos-3d.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.img-object-fit img{
  object-fit: cover;
}

.pos-absolute{
  position: absolute;
}

.box-yellow{
  margin-top: -13px
}

.border-bold{
  border: 2px solid !important;
}
.txt-fixed{
  position: absolute;
  z-index: 1;
}
.text-shadow{
  text-shadow: 0px 2px 4px #444;
}

/* --- Carousel Loja virtual --- */
.slick-slide {
  margin: 0px 20px;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide{
  float: right;
} 
.slick-initialized .slick-slide{
  display: block;
}
.btn-slick-carousel-left,
.btn-slick-carousel-right{
  position: absolute;
  z-index: 1000;
  top: 45%;
}
.btn-slick-carousel-left{
  left: -15px;
}
.btn-slick-carousel-right{
  right: -15px;
}

/* --- footer --- */
.bg-banner-footer{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imagens/banner-footer.jpg) no-repeat center center;
  background-size: cover;
  height: 200px;
}


/* --- mapa do site --- */
.mapa-site a{
  color: #343a40
}
.mapa-site .dropdown-menu-estilo{
  display: block;
  background-clip: padding-box;
  border: none;
  margin-left: 15px;
}
.mapa-site .dropdown-menu-estilo a{
  padding-left: 0;
}
/* --- FIM mapa do site --- */

/* --- 404 --- */
.img-404{
  background: url(../imagens/img-404.png) no-repeat center center;
  background-size: contain;
}
/* --- FIM 404 --- */

/* --- modal do fancybox --- */
.modal-body{
  padding: 0rem !important;
  border: 2px solid #fff;
}
/* --- FIM modal do fancybox --- */

/* --- botão scroll top --- */
#buttonTop{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
}
#buttonTop:hover {
  cursor: pointer;
}
#buttonTop.show {
  opacity: 1;
  visibility: visible;
}
/* --- FIM botão scroll top --- */

/* --- Barra de rolagem do navegador --- */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #343a40;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #343a40;
}
/* --- FIM Barra de rolagem do navegador ----*/

/* --------------------------------------------- MEDIA QUERIES --------------------------------------------- */

/* --- tablets com largura de até 767px --- */
@media screen and (max-width: 767.98px){
  .mobile-center{
    display: block !important;
  }
  /* --- conteudo home --- */
  .border-xs-none{
    border-left: none !important;
  }
  .pos-absolute{
    position: relative;
  }
  .display-2{
    font-size: 40px;
  }
}

/* --- celulares com largura de até 575px --- */
@media screen and (max-width: 575.98px){

}
